body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
h1{
    font-size: 50px;
}
.my-name{
    color: orange;
}
.flexible{
    display: flex;
    margin-bottom: 150px;
}
.half-widh{
    width: 50%;
    padding-left: 5%;
}
.half-widh img{
    width: 80%;
}
.link-button{
    text-decoration: none;
    background-image: linear-gradient(orange, tomato);
    padding: 10px 40px;
    border-radius: 5px;
    color: white;
    font-weight: 700;
}
.top-banner{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}
.dream-area{
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}
h2{
    font-size: 40px;
}
.exprience-item{
    width: 40%;
    margin-left: 5%;
    box-shadow: 10px 10px 30px gray;
    padding: 20px;
    border-left: 7px solid;
    
}
.exprience{
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
}
#full-stack{
    border-image: linear-gradient(salmon, tomato);
    border-image-slice: 1;
}
#baby-web{
    border-image: linear-gradient(blue, cyan);
    border-image-slice: 1;
}
footer p{
    text-align: center;
    color: gray;
}
